.footer__link {
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  transition: 0.5s;
}

.footer__link:hover {
  opacity: 0.8;
  cursor: url("../../../images/Pointer.svg"), auto;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}